<!-- <footer class="footerr">
  <div class="row foot">
  <div class="large-4 small-12 large-offset-3 medium-offset-2 medium-5 columns">© 2017 Maropost Inc. All rights reserved. |</div>
  <div class="small-11 large-2 medium-2  columns end"> <%= link_to "Contact Us" , contact_us_path %></div>
</div>
</footer> -->
<footer id="footer" style=" bottom: 0" class="footer-nav row expanded collapse">
        <div class="footer-nav-center">
          <ul class="footer-nav-menu">
            <span style="color:#cbcbcb" class="footer-nav-menu-item">
              © 2017 Maropost Inc. All rights reserved. |
            </span>
            <span class="footer-nav-menu-item bottom_contact">
              <%= link_to "Contact Us" , contact_us_path %>
            </span>
          </ul>
        </div>
      </footer>
