// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-container{
  min-height: 245px;
  margin: auto;
  padding: 20px 50px;
}

.containerr-i{

  padding-bottom: 10px;
 }

.containerr-i.column.small-12.large-3.medium-4.large-offset-1{
  margin-bottom: 6%;

}

.pagination{
  text-align: center;
}

a.img-div {
    margin: auto;
}
