<div class="reveal" id="exampleModal1" data-reveal>
  <h3> Update Image name</h3>
  <div id='error-container2' class="error">
  </div>
  <%= form_with(model: @image , scope: :image_name_change,  multipart: true, url: image_path(image),method: :PUT)  do |f| %>
    <div class="">
      <%= f.label :name  %>
      <%= f.text_field :name , :required => true%>
    </div>
       <%= f.submit "update" , 'data-disable-with' => "Please wait.." %>
    <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
