
  <div class="heading">
    <div class="logo"><%= image_tag("img-m.png") %></div>
    <div div class="logo-2"><%= image_tag("image001.png") %></div>
  </div>
  <div class="content-ab row">
    <h1 style="padding-left: 3%;padding-top: 1%;">About Us</h1>

      <h2>We make the world's best marketing and sales platforms</h2>
    <p>Maropost is the leading global provider of on-demand marketing, sales, commerce, and infrastructure solutions. We offer the world’s best marketing and sales cloud platforms combined with industry leading customer support and client success.</p>

      <p>Maropost was founded in 2011 by CEO and Chairman Ross Andrew Paquette. We are headquartered in Toronto, Canada, with offices in New York, USA, London, U.K., and Chandigarh, India.</p>

        <p>Maropost is the fastest growing company in Toronto and among the fastest growing companies in North America. In 2016, Maropost was ranked 4th in Deloitte's Canadian Technology Fast 50, 7th in the annual PROFIT 500 of Canada's fastest- growing companies, and 37th in the North America-wide Deloitte Fast 500.</p>

  </div>
